* {
    box-sizing: border-box;
}
p {
    margin-top: 0;
}

body { margin: 0;
    background-color: #f8f8f8;

}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.advise {
    background: #EF33B4;
    padding-top: 50px;
    padding-bottom: 35px;
    text-align: center;
    font-family: 'Roboto', Arial;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #FFFFFF;
} 
.advise__title {
    font-family: 'Ubuntu', Helvetica;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 20px;
}
.service {
    padding-top: 80px;
    padding-bottom: 30px;
}
.service__list{
    margin-left: -50px;
    margin-right: -50px;
}
.service__item {
    font-family: 'Roboto', Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: #808080;
    
    width: 33%;
    padding: 0 50px;
    display: inline-block;
    margin-bottom: 30px;
    
}


.service__tittle {
    font-family: 'Ubuntu', Helvetica;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    color: #4D4D4D;
    margin-bottom: 10px;
    margin-top: 20px;
}

.footer {
   background: #EBF0FF;
   border: 3px dashed #3B72FF;
   border-radius: 20px;
   text-align: center;
   margin-right: 135px;
   margin-left: 135px;
}
 .advise__title {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;


   align-items: flex-end;
   text-align: center;
   text-transform: capitalize;

   color: #EF33B4;
  }
  .p2 {
    font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 130%;


   display: flex;
   align-items: flex-end;
   text-align: center;
   text-transform: capitalize;

  color: #3B72FF;

 }